@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
  box-sizing: border-box;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body, h1, h2, h3, h4, ul, ol, figure {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}





@media screen and (max-width :1125px) {
  .navbar {
    width: 100%;
  }
  .page-content {
    margin-left: 15px;
  }
  .img__center {
    display: none;
  }
  .sidebar-menu {
    position: static;
    height: initial;
  }
}

@media screen and (max-width: 992px) {
  .page-content_banner {
    width: 100%;
    font-size: 80px;
  }
  .main-content {
    justify-content: space-between;
    }
  .page-content {
    margin-left: 15px;
  }
  .img__center {
    display: none;
  }
  .sidebar-menu {
    position: static;
    height: initial;
  }
}

@media screen and (max-width: 786px){
  .page-content_banner {
      width: 100%;
      font-size: 80px;
  }
  .page-content {
    min-width: 500px;
  }
} 

@media screen and (max-width : 480px) {
  .header {
    height: 100%;
    &__content {
      flex-direction: column;
    }
    &__logo {
      width: 100%;
      background-position: 0px;
    }
  }
  .navbar {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }
  .main-content {
    width: 100%;
  }
  .page-content {
    min-width:initial;
    width: 100%;
  }
  .sidebar-menu {
    // display: none; /////!!!!!!
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    transform: scaleX(0);
    transform-origin: left;
  }

  .img__center {
    display: none;
  }
  .page-content_banner {
    width: 100%;
    font-size: 60px;
  }
  .known-for__films {
    margin: 0;
  }
  .sidebar-mobile-burger{
    display: flex;
    }
}    

  .main-content-mobile-open{
    .sidebar-menu {
    transform: scaleX(1);
    transform-origin: left;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    }
    .sidebar-mobile-burger {
      // width: calc(100% - #{$padding-left*2});
      // margin-left:calc($sidebar-width)
      // margin-left:$sidebar-width;
      transform: translateX(231px);
      transition: all 500ms;
    }
    .burger1 {
      transition: all 500ms;
      -webkit-transform: rotate(-45deg) translate(-9px, 8px);
      transform: rotate(-45deg) translate(-9px, 8px);
    }
    .burger2 {
      transition: all 500ms;
      opacity: 0;
    }
    .burger3 {
      transition: all 500ms;
      -webkit-transform: rotate(45deg) translate(-9px, -8px);
      transform: rotate(45deg) translate(-9px, -8px);
    }
  }