@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import './mixins';
   
.main-content {
    max-width:1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



.page-content {
    height: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    color: #26180D;
    width: 100%;
    max-width: 750px;
}

.page-content__label {
    display: flex;
    width: 100%;
    height: 59px;
    align-items: flex-end;
    justify-content: flex-end;
}

.page-content__label_items {
    height: 33px;
    border-radius: 100px;
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.18);
    color: #26180D;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    cursor: pointer;
    &:last-child {
        width: 120px;
        margin-left: 17px;
    }
}

.page-content__label_item {
    opacity: 1;
    &_text {
        margin-left: 6px;
    }
}


.page-content_banner {
    font-size: 90px;
    color: #3B3129;
    padding-top: 8px;
    width: 100%;
    margin: 0 auto;
  }

  .small-menu {
    font-size: 10px;
    letter-spacing: 2px;
    color: #b6b2d2;
    width: 100%;
    margin: 13px 0 30px 0;
  }

  .page-content_text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.2px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .page-content_date {
    font-size: 12px;
    letter-spacing: 1px;
    color:  #a693e4;
    width: 100%;
    margin: 34px 0 0 0;
  }

  .page-content_line {
    width: 100%;
    margin: 34px 0 38px 0;
    height: 1px;
    opacity: 0.2;
    background-color: #ffffff;
  }

.known-for {
    display: flex;
    flex-direction: column;
    padding-left: -10px;
    &_header {
        display: flex;
        justify-content: space-between;
        &_name {
            font-size: 24px; 
        }
        &_buttons {
            display: flex;
            min-width: 45px;
            justify-content: space-between;
            align-items: center;
        }
        &_button {
            height: 9px;
            width: 9px;
            border-radius: 100%;
            background-color: rgba(250, 250, 250, 0.4);
            border: none;
            padding: 0;
            &:hover {
                background-color: rgba(250, 250, 250, 1.0);
            }
            cursor: pointer;
        }
    }
    &__films {
        display: flex;
        margin: 0 -15px 0 -15px;
    }
    &__film {
        display: flex;
        flex-direction: column;
        min-height: 213px;
        // width: 33.333%;
        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
            box-shadow: 0 62px 52px 0 rgba(0, 0, 0, 0.09), 0 16px 32px 0 rgba(0, 0, 0, 0.59);
        }
    }
    &__picture {
        min-height: 130px;
        margin: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;

    }
    &__description {
        margin: 0 15px 15px 15px;
        font-size: 12px;
        font-weight: 900;
        line-height: 1.67;
        letter-spacing: 1px;
        color: #3B3129;
    }
    &__description2 {
        color: #26180D;
    }
}

.tea {
    &_1{
    background-image: url(../../assets/images/tea1.png);
    }
    &_2 {
    background-image: url(../../assets/images/tea2.png);
    }
    &_3 {   
    background-image: url(../../assets/images/tea3.png);
    background-size: 90%;
    }
    &_4 {   
    background-image: url(../../assets/images/tea4.png);
    }
    &_5 {   
    background-image: url(../../assets/images/tea5.png);
    }
    &_6 {
    background-image: url(../../assets/images/tea6.png);
    }
    &_7 {
    background-image: url(../../assets/images/tea7.png);
    }
    &_8 {
    background-image: url(../../assets/images/tea8.png);
    }
    &_9 {
    background-image: url(../../assets/images/tea9.png);
    }
}

.page__content_photos {
    margin-top: 15px;
    &_header {
        display: flex;
        justify-content: space-between;
        &_text {
            font-size: 24px;
        }
        &_button {
            background: none;
            border: none;
            color: #ffffff;
            font-size: 36px;
            cursor: pointer;
        }
    }
}


.info {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.5px;
    background-color: rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
}
