$background-color:linear-gradient(51deg, #FF6400, #A64100);
$header-background-color: #c1afa5;
$menu-background-color :#3B3129;
$navbar-item-color : #969696;
$navbar-item-line-color:#969696;
$sidebar-menu-color: #3B3129;
$sidebar-imput-color: #bbbbbb;
$sidebar-imput-background-color:#26180D;
$sidebar-menu-button-color: #26180D;
$sidebar-menu-button-background-color:#26180D;
$divider-color:#d8d8d8;
$media-button-color:#969696;
$media-button-hover-color:#f2d224;
$media-button-icons-color:#969696;
$myAcount-color:#969696;
$myAcount-item-color:#969696;
$facebook-color :#5083f2;
$imd-button-color:#969696;
$imd-main-buton-color:#26180D;
$chevron-color:#6b6b6b;





